<%- include("../template/cabecera") %>
<div class="container">
    <!--Si existen elementos en el array de SolicitudAcceso-->
    <% if (arraySolicitudAcceso.length > 0) { %>
     <!--Haremos el foreach para recorrer el array-->
     <% arraySolicitudAcceso.forEach(solicitudAcceso => { %>
       <!--Aquí podremos mostrar todos los pokemon en una tabla-->
     <% }) %>
    <% } %>
</div>
<div class="container ">
    <h1 class="d-flex flex-row justify-content-center alig-items-center">Solicitud Acceso</h1>
    <a  class="btn btn-success m-2 d-flex flex-row justify-content-center alig-items-center" href="/solicitudAcceso/crear">Añadir Solicitud</a>
    <div class="table-responsive-sm table-responsive-md">
      <table class="table table-hover table-light">
          <thead>
              <tr class="table-dark">
                <th scope="col">Solicitud</th>
                <th scope="col">DNI</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Edad</th>
                <th scope="col">Descripción</th>
                <th scope="col">Antecedentes penales</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <% if (arraySolicitudAcceso.length>0) {%>
                      <% arraySolicitudAcceso.forEach(solicitudAcceso =>{ %>
                <td><%= solicitudAcceso.solicitud  %></td>
                <td><%= solicitudAcceso.dni  %></td>
                <td><%= solicitudAcceso.nombre  %></td>
                <td><%= solicitudAcceso.apellidos  %></td>
                <td><%= solicitudAcceso.edad  %></td>
                <td><%= solicitudAcceso.descripcion  %></td>
                <td><%= solicitudAcceso.antecedentesPenales  %></td>
                

                <td><a class="btn btn-warning btn-sm" href="/solicitudAcceso/<%= solicitudAcceso.id %>">Editar/Eliminar</a></td>
              
              </tr>
              <% }) %>
              <% } %>
            </tbody>
      </table>
  </div>

    
</div>
<%- include("../template/footer") %>